# EditorConfig: http://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

# Ensure UTF-8 encoding for all files except properties files
# ISO-8859-1 (i.e., Latin1 or Windows-28591)

[!*.properties]
charset = utf-8

# Your build will fail if you change this!!
[*.properties]
charset = latin1

[!.*md]
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
