# ATTENTION: Rules go from least specific to most specific!

# Auto-detect text files
* text=auto

# Binary files that should not be diffed
# (binary is a macro for -text -diff)
*.3ds       binary
*.3g2       binary
*.3gp       binary
*.7z        binary
*.a         binary
*.aac       binary
*.adp       binary
*.ai        binary
*.aif       binary
*.apk       binary
*.ar        binary
*.asf       binary
*.au        binary
*.avi       binary
*.bak       binary
*.bin       binary
*.bk        binary
*.bmp       binary
*.btif      binary
*.bz2       binary
*.cab       binary
*.caf       binary
*.cgm       binary
*.class     binary
*.cmx       binary
*.cpio      binary
*.cr2       binary
*.dat       binary
*.deb       binary
*.djvu      binary
*.dll       binary
*.dmg       binary
*.dng       binary
*.doc       binary
*.docx      binary
*.dra       binary
*.DS_Store  binary
*.dsk       binary
*.dts       binary
*.dtshd     binary
*.dvb       binary
*.dwg       binary
*.dxf       binary
*.ear       binary
*.ecelp4800 binary
*.ecelp7470 binary
*.ecelp9600 binary
*.egg       binary
*.eol       binary
*.eot       binary
*.epub      binary
*.exe       binary
*.f4v       binary
*.fbs       binary
*.fh        binary
*.fla       binary
*.flac      binary
*.fli       binary
*.flv       binary
*.fpx       binary
*.fst       binary
*.fvt       binary
*.g3        binary
*.gif       binary
*.gz        binary
*.h261      binary
*.h263      binary
*.h264      binary
*.ico       binary
*.ief       binary
*.img       binary
*.ipa       binary
*.iso       binary
*.jar       binary
*.jpeg      binary
*.jpg       binary
*.jpgv      binary
*.jpm       binary
*.jxr       binary
*.ktx       binary
*.lvp       binary
*.lz        binary
*.lzma      binary
*.lzo       binary
*.m3u       binary
*.m4a       binary
*.m4v       binary
*.mar       binary
*.mdi       binary
*.mid       binary
*.mj2       binary
*.mka       binary
*.mkv       binary
*.mmr       binary
*.mng       binary
*.mov       binary
*.movie     binary
*.mp3       binary
*.mp4       binary
*.mp4a      binary
*.mpeg      binary
*.mpg       binary
*.mpga      binary
*.mxu       binary
*.nef       binary
*.npx       binary
*.o         binary
*.oga       binary
*.ogg       binary
*.ogv       binary
*.otf       binary
*.pbm       binary
*.pcx       binary
*.pdf       binary
*.pea       binary
*.pgm       binary
*.pic       binary
*.png       binary
*.pnm       binary
*.ppm       binary
*.psd       binary
*.pya       binary
*.pyc       binary
*.pyo       binary
*.pyv       binary
*.qt        binary
*.rar       binary
*.ras       binary
*.raw       binary
*.rgb       binary
*.rip       binary
*.rlc       binary
*.rz        binary
*.s3m       binary
*.s7z       binary
*.scpt      binary
*.sgi       binary
*.shar      binary
*.sil       binary
*.smv       binary
*.so        binary
*.sub       binary
*.swf       binary
*.tar       binary
*.tbz2      binary
*.tga       binary
*.tgz       binary
*.tif       binary
*.tiff      binary
*.tlz       binary
*.ts        binary
*.ttf       binary
*.uvh       binary
*.uvi       binary
*.uvm       binary
*.uvp       binary
*.uvs       binary
*.uvu       binary
*.viv       binary
*.vob       binary
*.war       binary
*.wav       binary
*.wax       binary
*.wbmp      binary
*.wdp       binary
*.weba      binary
*.webm      binary
*.webp      binary
*.whl       binary
*.wm        binary
*.wma       binary
*.wmv       binary
*.wmx       binary
*.woff      binary
*.woff2     binary
*.wvx       binary
*.xbm       binary
*.xif       binary
*.xm        binary
*.xpi       binary
*.xpm       binary
*.xwd       binary
*.xz        binary
*.z         binary
*.zip       binary
*.zipx      binary
